In [35]:
#Pergunta Problema:
#    De que forma o acesso básico a água, e a geração de energia por pessoa afetam
#  no IDH (índice de desenvolvimento humano) de um país?

In [36]:
#Importação das bibliotecas:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [37]:
#leitura dos arquivos em excel:
#leitura dos arquivos em excel:
hdi = pd.read_excel("hdi.xlsx")
water = pd.read_excel("water.xlsx")
electricity = pd.read_excel("electricity.xlsx")


#electricity.head(3)

In [38]:
#escolha do ano para investigação

hdi_2012 = hdi.loc[:, ["geo", 2012]]
water_2012 = water.loc[:, ["geo", 2012]]
electricity_2012 = electricity.loc[:, ["geo", 2012]]

#electricity_2012.head(3)

In [39]:
#Método Join()

hdi_idx = hdi_2012.set_index("geo")
water_idx = water_2012.set_index("geo")
electricity_idx = electricity_2012.set_index("geo")

In [41]:
my_data = hdi_idx.join(water_idx, how='inner', lsuffix='Human Development Index', rsuffix='Basic water(%)')
my_data.head(7)
data = my_data.join(electricity_idx, how="inner")

data.rename(columns={'2012Human Development Index': 'Human Development Index(2012)', '2012Basic water(%)': 'Basic water(%)(2012)',"2012":"Electricity Production PP(2012)"}, inplace=True)
data.head(3)

           Human Development Index(2012)  Basic water(%)(2012)   2012
geo
Algeria                            0.737                  92.8   1530
Argentina                          0.823                  99.5   3230
Australia                          0.933                  99.9  11000